// neutral
$lighter-grey: #f1f1f1;
$light-grey: #e3e3e3;
$grey: #adadad;
$dark-grey: #808080;
$darker-grey: #575757;
$darkest-grey: #282828;

// light
$light-blue: #46a3ff;
$light-green: #00c096;
$light-red: #ff827e;
$yellow: #ffb048;

// dark
$blue: #225577;
$dark-green: #00a682;
$dark-red: #e45651;
$dark-blue: #212835;
$darker-blue: #12161f;

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

button {
	all: unset;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.box {
		border-radius: 0;
		width: 110px;
		height: 110px;
		cursor: pointer;
		text-align: center;
		position: relative;

		&.player-turn,
		&.player-1 {
			background-color: #fff;
			border: 2px solid $light-grey;

			&:hover {
				background-color: $light-blue;
				border-color: $light-blue;
				opacity: 0.2;
			}
		}

		&.computer-turn,
		&.player-2 {
			background-color: $lighter-grey;
			border: 2px solid $lighter-grey;
		}

		.background {
			opacity: 0.2;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			&.blue {
				background-color: $light-blue;
			}

			&.red {
				background-color: $light-red;
			}
		}

		&.x-marked {
			border: 2px solid $light-blue;
		}

		&.o-marked {
			border: 2px solid $light-red;
		}

		i {
			font-size: 40px;

			&.fa-xmark {
				color: $light-blue;
			}

			&.fa-o {
				color: $light-red;
			}
		}
	}
}

section.game-directions {
	position: absolute;
	top: calc(50% - 225px);
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	h1 {
		font-weight: 500;
		font-size: 22px;
	}

	.message {
		margin-bottom: 1rem;

		h1 {
			text-transform: capitalize;
		}

		&.win-message h1 {
			color: $light-blue;
		}

		&.lose-message h1 {
			color: $light-red;
		}

		&.draw-message h1 {
			color: #000;
		}

		p {
			color: $grey;
			font-size: 16px;
		}
	}
}

.play-again {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translate(-50%);
	width: calc((3 * (110px + 4px)) + 2rem - 1.5px);
	border: 1.5px solid $lighter-grey;
	border-radius: 2px;
	padding: 0.75rem 0;
	color: #000;
	cursor: pointer;
	@include flexCenter(row);
	font-size: 15px;

	i {
		font-size: 20px;
		margin-right: 0.5rem;
	}

	&:hover {
		background-color: $lighter-grey;
		// border-color: $ligher-grey;
	}
}
