button {
  all: unset;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid .box {
  border-radius: 0;
  width: 110px;
  height: 110px;
  cursor: pointer;
  text-align: center;
  position: relative;
}
.grid .box.player-turn {
  background-color: #fff;
  border: 2px solid #e3e3e3;
}
.grid .box.player-turn:hover {
  background-color: #46a3ff;
  border-color: #46a3ff;
  opacity: 0.2;
}
.grid .box.computer-turn {
  background-color: #f1f1f1;
  border: 2px solid #f1f1f1;
}
.grid .box .background {
  opacity: 0.2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.grid .box .background.blue {
  background-color: #46a3ff;
}
.grid .box .background.red {
  background-color: #ff827e;
}
.grid .box.x-marked {
  border: 2px solid #46a3ff;
}
.grid .box.o-marked {
  border: 2px solid #ff827e;
}
.grid .box i {
  font-size: 40px;
}
.grid .box i.fa-xmark {
  color: #46a3ff;
}
.grid .box i.fa-o {
  color: #ff827e;
}

section.game-directions {
  position: absolute;
  top: calc(50% - 225px);
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
section.game-directions h1 {
  font-weight: 500;
  font-size: 22px;
}
section.game-directions .message {
  margin-bottom: 1rem;
}
section.game-directions .message h1 {
  text-transform: capitalize;
}
section.game-directions .message.win-message h1 {
  color: #46a3ff;
}
section.game-directions .message.lose-message h1 {
  color: #ff827e;
}
section.game-directions .message.draw-message h1 {
  color: #000;
}
section.game-directions .message p {
  color: #adadad;
  font-size: 16px;
}

.play-again {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  width: calc(342px + 2rem - 1.5px);
  border: 1.5px solid #f1f1f1;
  border-radius: 2px;
  padding: 0.75rem 0;
  color: #000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 15px;
}
.play-again i {
  font-size: 20px;
  margin-right: 0.5rem;
}
.play-again:hover {
  background-color: #f1f1f1;
}

button.back-to-menu {
  border: 1.5px solid #f1f1f1;
  border-radius: 2px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  margin: 1rem;
}
button.back-to-menu:hover {
  background-color: #f1f1f1;
}
button.back-to-menu i {
  font-size: 20px;
}

@keyframes fadeInMenu {
  from {
    opacity: 0;
    top: 20px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
section.menu {
  position: relative;
  width: 100vw;
  height: 100vh;
}
section.menu main {
  position: absolute;
  top: calc(50% - 50px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.menu main * {
  position: relative;
  animation-name: fadeInMenu;
}
section.menu main img {
  width: 100px;
  margin-bottom: 1.5rem;
  animation-duration: 2s;
}
section.menu main h1 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 0.5rem;
  animation-duration: 3s;
}
section.menu main p {
  color: #adadad;
  font-size: 16px;
  animation-duration: 4s;
}
section.menu button {
  border: 1.5px solid #f1f1f1;
  border-radius: 2px;
  padding: 0.75rem 0;
  color: #000;
  cursor: pointer;
  font-size: 15px;
  text-align: center;
  font-weight: 500;
}
section.menu .btn-container {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.75rem;
}
section.menu .mode-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  min-width: 500px;
  position: relative;
  animation-name: fadeInMenu;
  animation-duration: 4s;
}
section.menu .mode-btns button {
  width: 100%;
}
section.menu .mode-btns button:hover {
  background-color: #f1f1f1;
}
section.menu .mode-btns button.active {
  background-color: #46a3ff;
  border-color: #46a3ff;
}
section.menu .start {
  min-width: 500px;
  position: relative;
  animation-name: fadeInMenu;
  animation-duration: 5s;
}
section.menu .start:hover {
  background-color: #ff827e;
  border-color: #ff827e;
}

@media only screen and (max-width: 575px) {
  main.menu .start,
  main.menu .mode-btns {
    min-width: calc(100vw - 2rem);
  }
}
.dark-mode-toggle {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: 1.5px solid #f1f1f1;
}
.dark-mode-toggle:hover {
  background-color: #f1f1f1;
}

.dark-mode {
  background-color: #000;
}/*# sourceMappingURL=style.css.map */