// neutral
$lighter-grey: #f1f1f1;
$light-grey: #e3e3e3;
$grey: #adadad;
$dark-grey: #808080;
$darker-grey: #575757;
$darkest-grey: #282828;

// light
$light-blue: #46a3ff;
$light-green: #00c096;
$light-red: #ff827e;
$yellow: #ffb048;

// dark
$blue: #225577;
$dark-green: #00a682;
$dark-red: #e45651;
$dark-blue: #212835;
$darker-blue: #12161f;

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

button {
	all: unset;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	overflow: hidden;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	.box {
		border-radius: 0;
		width: 110px;
		height: 110px;
		cursor: pointer;
		text-align: center;
		position: relative;

		&.player-turn {
			background-color: #fff;
			border: 2px solid $light-grey;

			&:hover {
				background-color: $light-blue;
				border-color: $light-blue;
				opacity: 0.2;
			}
		}

		&.computer-turn {
			background-color: $lighter-grey;
			border: 2px solid $lighter-grey;
		}

		.background {
			opacity: 0.2;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			&.blue {
				background-color: $light-blue;
			}

			&.red {
				background-color: $light-red;
			}
		}

		&.x-marked {
			border: 2px solid $light-blue;
		}

		&.o-marked {
			border: 2px solid $light-red;
		}

		i {
			font-size: 40px;

			&.fa-xmark {
				color: $light-blue;
			}

			&.fa-o {
				color: $light-red;
			}
		}
	}
}

.dark-mode .grid .box {
	&.player-turn {
		border-color: $darker-grey;
		background-color: #000;

		&:hover {
			background-color: $blue;
			border-color: $blue;
			opacity: 0.2;
		}
	}

	&.computer-turn {
		background-color: $darker-blue;
		border-color: $darker-blue;
	}

	.background {
		&.red {
			background-color: $dark-red;
		}
		&.blue {
			background-color: $blue;
		}
	}

	&.x-marked {
		border-color: $blue;
	}

	&.o-marked {
		border-color: $dark-red;
	}

	i {
		&.fa-xmark {
			color: $blue;
		}

		&.fa-o {
			color: $dark-red;
		}
	}
}

@media only screen and (max-width: 425px) {
	.grid .box {
		width: 90px;
		height: 90px;
	}
}

@media only screen and (max-width: 370px) {
	.grid .box {
		width: 80px;
		height: 80px;
	}
}

@media only screen and (max-width: 340px) {
	.grid .box {
		width: 70px;
		height: 70px;
	}
}

section.game-directions {
	position: absolute;
	top: calc(50% - 225px);
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;

	h1 {
		font-weight: 500;
		font-size: 22px;
	}

	.message {
		margin-bottom: 1rem;

		h1 {
			text-transform: capitalize;
		}

		&.win-message h1 {
			color: $light-blue;
		}

		&.lose-message h1 {
			color: $light-red;
		}

		&.draw-message h1 {
			color: #000;
		}

		p {
			color: $grey;
			font-size: 16px;
		}
	}
}

.dark-mode section.game-directions {
	.win-message h1 {
		color: $blue;
	}

	.lose-message h1 {
		color: $dark-red;
	}

	.draw-message h1 {
		color: #fff;
	}

	p {
		color: $dark-grey;
	}
}

@media only screen and (max-width: 425px) {
	section.game-directions {
		top: calc(50% - 195px);
	}
}

@media only screen and (max-width: 370px) {
	section.game-directions {
		top: calc(50% - 180px);
	}
}

@media only screen and (max-width: 340px) {
	section.game-directions {
		top: calc(50% - 165px);
	}
}

.play-again {
	position: absolute;
	bottom: 2rem;
	left: 50%;
	transform: translate(-50%);
	width: calc((3 * (110px + 4px)) + 2rem - 1.5px);
	border: 1.5px solid $lighter-grey;
	border-radius: 2px;
	padding: 0.75rem 0;
	color: #000;
	cursor: pointer;
	@include flexCenter(row);
	font-size: 15px;

	i {
		font-size: 20px;
		margin-right: 0.5rem;
	}

	&:hover {
		background-color: $lighter-grey;
	}
}

@media only screen and (max-width: 425px) {
	.play-again {
		width: calc((3 * (90px + 4px)) + 2rem - 1.5px);
	}
}

@media only screen and (max-width: 370px) {
	.play-again {
		width: calc((3 * (80px + 4px)) + 2rem - 1.5px);
	}
}

@media only screen and (max-width: 340px) {
	.play-again {
		width: calc((3 * (70px + 4px)) + 2rem - 1.5px);
	}
}

.dark-mode .play-again,
.dark-mode .back-to-menu {
	border-color: $dark-blue;
	color: $grey;
	i {
		color: $grey;
	}

	&:hover {
		background-color: $dark-blue;
	}
}

button.back-to-menu {
	border: 1.5px solid $lighter-grey;
	border-radius: 2px;
	padding: 0.5rem 0.75rem;
	cursor: pointer;
	margin: 1rem;

	&:hover {
		background-color: $lighter-grey;
	}

	i {
		font-size: 20px;
	}
}

@keyframes fadeInMenu {
	from {
		opacity: 0;
		top: 20px;
	}
	to {
		opacity: 1;
		top: 0;
	}
}

section.menu {
	position: relative;
	width: 100vw;
	height: 100vh;

	main {
		position: absolute;
		top: calc(50% - 50px);
		left: 50%;
		transform: translate(-50%, -50%);
		@include flexCenter(column);

		* {
			position: relative;
			animation-name: fadeInMenu;
		}

		img {
			width: 100px;
			margin-bottom: 1.5rem;
			animation-duration: 2s;
		}

		h1 {
			font-weight: 500;
			font-size: 22px;
			margin-bottom: 0.5rem;
			animation-duration: 3s;
		}

		p {
			color: $grey;
			font-size: 16px;
			animation-duration: 4s;
		}
	}

	button {
		border: 1.5px solid $lighter-grey;
		border-radius: 2px;
		padding: 0.75rem 0;
		color: #000;
		cursor: pointer;
		font-size: 15px;
		text-align: center;
		font-weight: 500;
	}

	.btn-container {
		position: absolute;
		bottom: 2rem;
		left: 50%;
		transform: translate(-50%);
		@include flexCenter(column);
		gap: 0.75rem;
	}

	.mode-btns {
		@include flexCenter(row);
		gap: 1rem;
		min-width: 500px;
		position: relative;
		animation-name: fadeInMenu;
		animation-duration: 4s;

		button {
			width: 100%;

			&:hover {
				background-color: $lighter-grey;
			}

			&.active {
				background-color: $light-blue;
				border-color: $light-blue;
			}
		}
	}

	.start {
		min-width: 500px;
		position: relative;
		animation-name: fadeInMenu;
		animation-duration: 5s;

		&:hover {
			background-color: $light-red;
			border-color: $light-red;
		}
	}
}

.dark-mode {
	section.menu {
		p {
			color: $dark-grey;
		}

		button {
			color: #fff;
			border-color: $dark-grey;
		}

		.mode-btns button {
			&:hover {
				background-color: $dark-blue;
				border-color: $dark-blue;
			}

			&.active {
				background-color: $dark-blue;
				border-color: $dark-blue;
			}
		}

		.start:hover {
			background-color: $dark-red;
			border-color: $dark-red;
		}
	}
}

@media only screen and (max-width: 575px) {
	section.menu .start,
	section.menu .mode-btns {
		min-width: calc(100vw - 4rem);
	}
}

.dark-mode-toggle {
	position: absolute;
	top: 2rem;
	left: 2rem;
	border: 1.5px solid $lighter-grey;
	padding: 0.75rem 1rem;
	border-radius: 2px;
	cursor: pointer;
	z-index: 1;

	&:hover {
		background-color: $lighter-grey;
	}

	&.on-dark-mode {
		border-color: $dark-grey;

		&:hover {
			background-color: $darker-grey;
		}
	}

	.fa-sun {
		color: #fff;
	}

	.fa-moon {
		color: #000;
	}
}

.dark-mode {
	background-color: #000;
	color: #fff;
	height: 100vh;
	width: 100vw;

	* {
		color: #fff;
	}
}
